* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff !important;
  width: 100vw;
  height: 100vh;
}

input::placeholder {
  color: #a9abb1 !important;
}

.most-container {
  padding: 60px 0px 50vh;
  position: relative;
}

button:focus {
  outline: none !important;
}

button:hover {
  cursor: pointer;
}

/* HEADER */
.header{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  justify-content: center;
}
.header-inner{
  align-items: center;
  display: flex;
  background-color: #fff;
  width: 90%;
  justify-content: space-around;
}

.header-left{
  display: flex;
  align-items: center;
}

/* 「::」擬似要素とは、要素の一部に
対してスタイルを適用できる指定方法です。 */

/* .logo::before {
  content: 'StudEng';
} */

.logo {
  margin: 0;
  /* font-family: 'Parisienne', cursive; */
  font-weight: bold;
  font-size: 28px;
  color: #04cfe7;
  text-align: center;
  cursor: pointer;
}

.search-area {
  display: flex;
  position: relative;
  height: 36px;
  width: 268px;
  margin-left: 20px;
  background-color: #efefef;
  border-radius: 7px;
}

/* 「:」は擬似クラス=>指定の要素が特定の状態で */
/* ある場合にスタイルを適用させるセレクタです。 */ 
.search-button:focus {
	outline:0;
}

.search-button {
  margin-left: 5px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.search-button i {
  color: black;
}

.search-input:focus {
  outline:0;
}

.search-input {
  padding: 0 8px 0 30px;
  height: inherit;
  width: inherit;
  border: none;
  outline: none;
  border-width: 0.5px;
  border-radius: 3px;
  background-color: #efefef;
  border-radius: 7px;
}

/* ログインしている時 */
.header-right-logined {
  display: flex;
  align-items: center;
}

.question-screen {
  text-align: center;
  padding: 0 10px 0 10px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #04cfe7;
  color: #fff;
  font-size: 14px;
  margin-right: 22px;
  cursor: pointer;
}

.to-profile-button {
  height: 36px;
  width: 36px;
  border: none;
  cursor: pointer;
  outline: none !important;
  border-radius: 100%;
  object-fit: contain;
  overflow: hidden;
}

.to-profile-button img {
  height: 36px;
  width: 36px;
}

/* ログインしていない時 */
.header-right-logouted {
  display: flex;
  align-items: center;
}

.header-right-logouted button {
  text-align: center;
  padding: 0 10px 0 10px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #04cfe7;
  color: #fff;
  font-size: 14px;
  margin-right: 22px;
  cursor: pointer;
}

/* ここからbody */
.main{
  max-width: 620px;
  width: 100%;
  margin: 0px auto;
  padding-top: 20px;
}

.main-question {
  width: 100%;
  position: relative;
}

.main-question button {
  display: flex;
  height: 35px;
  width: 65px;
  outline: none;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #04cfe7;
  border-radius: 5px;
  align-items: center;
}

.main-question button p {
  padding: 0 0px 0 5px;
  color: white;
  font-size: 16px !important;
  margin-bottom: 0;
}

.main-question i {
  padding: 0 0 0 5px;
  color: white;
  font-size: 15px;
}

.input1 {
  font-weight: bold;
  border: none !important;
  text-decoration: none !important;
  height: 45px;
  font-size: 23px !important;
  display: flex;
  width: 100%;
  box-shadow: none;
  outline: none !important;
}

.input2 {
  border: none !important;
  text-decoration: none !important;
  margin-top: 10px;
  height: 30px !important;
  font-size: 18px !important;
  display: flex;
  width: 100%;
  box-shadow: none;
  outline: none !important;
}

.question-container {
  padding: 15px 0;
}

/* kaitou-lists-area */
.kaitou-lists-area {
  margin: 70px 0;
}

.kaitou-lists-item-top {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.kaitou-lists-item-top p {
  margin-top: 10px;
  margin-left: 10px;
}

.kaitou-lists-item-top-left {
  display: flex;
}

.kaitou-lists-item-top-left p {
  font-weight: bold;
  margin-bottom: 0;
}

.kaitou-lists-item-top-left img {
  width: 68.8px;
  height: 68.8px;
}

.kaitou-lists-item-top-right {

}

.kaitou-lists-item-content {
  margin-top: 15px;
  position: relative;
  padding: 1em;
  border: 3px solid #04cfe7;
  border-radius: 5px;
}

.kaitou-lists-item-content:before,
.kaitou-lists-item-content:after{
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
}
.kaitou-lists-item-content:before{
  top: -15px;
  left: -548px;
  border-style: solid;
  border-color: transparent transparent #04cfe7 transparent;
  border-width: 0px 9px 15px 9px;
}
.kaitou-lists-item-content:after{
  top: -10px;
  left: -548px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 0px 6px 11px 6px;
  z-index: 10;
}

.kaitou-lists-item-content p {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  font-size: 18px;
  padding-left: 10px;
  border-left: 4px solid #efefef;
}


/* .anser-space-container{

} */

.answer-space {
  border: 5px solid #efefef;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
}

.images-add-button-container {
  width: inherit;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: transparent;
}

.images-add-button-container button {
  border: none;
  outline: none;
  background-color: transparent;
}

.images-add-button-container img {
  height: 30px;
}

.question-container-inner1 {
  outline: none; 
}

.question-container-inner1 * {
  outline: none; 
}

.before-click {
  color: #a9abb1;
}

.after-click {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 18px;
}

.question-container-inner1 p {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  font-size: 18px;
  padding-left: 10px;
  border-left: 4px solid #efefef;
}

.question-picture0 {
  position: relative;
}

.delete-picture-button {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 100%;
  background-color: rgba(239, 239, 239, 0.7);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-picture-button p {
  padding: 0 !important;
  margin: 0 !important;
  height: inherit;
  border: none !important;
  line-height: inherit !important;
}

.answer-button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-button button {
  width: 50%;
  height: 40px;
  background-color: #04cfe7;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
}

.answer-button button:focus {
  outline: none;
  border: none;
}
