* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa;
}

header{
  height: 50px;
  display: flex;
  align-items: center;
}

.header-inner{
  align-items: center;
  display: flex;
  height: 50px;
  background-color: #fff;
}

/* 「::」擬似要素とは、要素の一部に
対してスタイルを適用できる指定方法です。 */

/* .logo::before {
  content: 'StudEng';
} */

.logo {
  margin: 0;
  /* font-family: 'Parisienne', cursive; */
  font-weight: bold;
  font-size: 20px;
  color: orange;
  text-align: center;
}

.search-area {
  display: flex;
  position: relative;
  height: 30px;
  width: 200px;
}

/* 「:」は擬似クラス=>指定の要素が特定の状態で */
/* ある場合にスタイルを適用させるセレクタです。 */ 
.search-button:focus {
	outline:0;
}

.search-button {
  margin-left: 5px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.search-button i {
  color: black;
}

.search-input:focus {
  outline:0;
}

.search-input {
  padding: 0 8px 0 30px;
  height: inherit;
  width: inherit;
  border-color: #dbdbdb;
  border-width: 0.5px;
  border-radius: 3px;
  background-color: #fafafa;
}




