* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100% !important;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa !important;
}

* a {
  text-decoration: none !important;
}

* p {
  margin-bottom: 0 !important;
}

/* HEADER */
.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  justify-content: center;
}

.header-inner{
  align-items: center;
  display: flex;
  background-color: #fff;
  width: 90%;
  justify-content: space-around;
}

.header-left{
  display: flex;
  align-items: center;
}

/* 「::」擬似要素とは、要素の一部に
対してスタイルを適用できる指定方法です。 */

/* .logo::before {
  content: 'StudEng';
} */

.logo {
  margin: 0;
  /* font-family: 'Parisienne', cursive; */
  font-weight: bold;
  font-size: 28px;
  color: #0071e3;
  text-align: center;
}

.search-area {
  display: flex;
  position: relative;
  height: 36px;
  width: 268px;
  margin-left: 20px;
  background-color: #efefef;
  border-radius: 7px;
}

/* 「:」は擬似クラス=>指定の要素が特定の状態で */
/* ある場合にスタイルを適用させるセレクタです。 */ 
.search-button:focus {
	outline:0;
}

.search-button {
  margin-left: 5px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.search-button i {
  color: black;
}

.search-input:focus {
  outline:0;
}

.search-input {
  padding: 0 8px 0 30px;
  height: inherit;
  width: inherit;
  border: none;
  outline: none;
  border-width: 0.5px;
  border-radius: 3px;
  background-color: #efefef;
  border-radius: 7px;
}

/* main */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 0;
  margin: 0 auto 30px;
  flex-direction: column;
}

.top-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  height: 200px;
}

/* top-left */
.top-left {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: flex-end;
  background-color: #dbdbdb;
  object-fit: contain;
  overflow: hidden;
}

.image-container button {
  border: none;
  cursor: pointer;
  height: 150px;
  width: 150px;
  outline: none !important;
}

.unregistered-picture {
  width: 150px;
  height: 150px;
  color: #fff;
}

/* top-right */
.top-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

/* top-right-top */
.top-right-top {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
}

.top-right-top p:first-child{
  font-size: 28px;
  line-height: 32px;
  margin-right: 20px;
}

.top-right-top a {
  border: 1px solid #dbdbdb;
  padding: 5px 9px;
  border-radius: 3px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.top-right-top a:hover {
  border: 1px solid #dbdbdb;
  padding: 5px 9px;
  border-radius: 3px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

/* top-right-bottom */
/* .top-right-bottom {

} */

.top-right-bottom p {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0 !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; 
}

/* bottom-container */
.bottom-container {
  display: flex;
  width: 80%;
  border-top: 1px solid #dbdbdb;
  margin-top: 5%;
  justify-content: space-around;
}

.bottom-container-questions {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50%;
  cursor: pointer;
  flex-direction: column;
}

.border0 {
  height: 7px;
  background-color: #0071e3;
  width: 100%;
}

.bottom-container-questions p {
  padding-top: 7px;
  font-weight: bold;
}

.bottom-container-teaching {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50%;
  cursor: pointer;
  flex-direction: column;
}

.border1 {
  height: 7px;
  width: 100%;
}

.bottom-container-teaching p {
  padding-top: 7px;
  font-weight: bold;
}

/* pの処理  */
.smart-texts {
  display: none !important;
}





